<mat-tab-group (selectedIndexChange)="selectTab($event)">

  <mat-tab label="Angeboten">
    <ng-template matTabContent >
      <app-table-einsatz *ngIf="isEinsatzAngeboten" [einsaetze]=einsaetzeAngebotenList></app-table-einsatz>
    </ng-template>
  </mat-tab>

  <mat-tab label="Beauftragt">
    <ng-template matTabContent>
      <app-table-einsatz *ngIf="isEinsatzBeauftragt" [einsaetze]=einsaetzeBeauftragtList></app-table-einsatz>
    </ng-template>
  </mat-tab>

  <mat-tab label="Abgelehnt">
    <ng-template matTabContent>
      <app-table-einsatz *ngIf="isEinsatzAbgelehnt" [einsaetze]=einsaetzeAbgelehntList></app-table-einsatz>
    </ng-template>
  </mat-tab>

  <mat-tab label="Mitarbeiter Vertrieb">
    <form class="searchMitarbeiterVertriebForm" [formGroup]="searchMitarbeiterVertriebFormGroup"
          (ngSubmit)="searchMitarbeiterVertrieb()">
      <mat-form-field class="half-width">
        <mat-label>Mitarbeiter Vertrieb</mat-label>
        <input matInput type="number" formControlName="mitarbeiterVertriebId" placeholder="1">
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" class="button"
              [disabled]="!searchMitarbeiterVertriebFormGroup.valid">
        Suche
      </button>
    </form>
    <app-table-einsatz *ngIf="isMitarbeiterVertrieb" [einsaetze]=einsaetzeMitarbeiterVertriebList></app-table-einsatz>
  </mat-tab>

  <mat-tab label="Komplexe Suche">
    <form class="searchFormGroup" [formGroup]="searchFormGroup" (ngSubmit)="search()">
      <mat-form-field class="half-width">
        <mat-label>Mitarbeiter Vertrieb</mat-label>
        <input matInput type="number" formControlName="mitarbeiterVertrieb" placeholder="1">
      </mat-form-field>

      <mat-form-field class="half-width">
        <mat-label>Mitarbeiter</mat-label>
        <input matInput type="number" formControlName="mitarbeiter" placeholder="1">
      </mat-form-field>

      <mat-form-field appearance="fill" class="half-width">
        <mat-label>Status Mitarbeiter</mat-label>
        <mat-select formControlName="mitarbeiterStatus">
          <mat-option *ngFor="let key of mitarbeiterStatusList"
                      [value]="key">{{mitarbeiterStatusEnum[key]}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="half-width">
        <mat-label>Einsatz Status</mat-label>
        <mat-select formControlName="einsatzStatus">
          <mat-option *ngFor="let key of einsatzStatusList" [value]="key">{{einsatzStatusEnum[key]}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="half-width">
        <mat-label>Beginn Von</mat-label>
        <input matInput formControlName="beginnVon" [matDatepicker]="beginnVonPicker">
        <mat-datepicker-toggle matSuffix [for]="beginnVonPicker"></mat-datepicker-toggle>
        <mat-datepicker #beginnVonPicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill" class="half-width">
        <mat-label>Beginn Bis</mat-label>
        <input matInput formControlName="beginnBis" [matDatepicker]="beginnBisPicker">
        <mat-datepicker-toggle matSuffix [for]="beginnBisPicker"></mat-datepicker-toggle>
        <mat-datepicker #beginnBisPicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill" class="half-width">
        <mat-label>Ende Von</mat-label>
        <input matInput formControlName="endeVon" [matDatepicker]="endeVonPicker">
        <mat-datepicker-toggle matSuffix [for]="endeVonPicker"></mat-datepicker-toggle>
        <mat-datepicker #endeVonPicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill" class="half-width">
        <mat-label>Ende Bis</mat-label>
        <input matInput formControlName="endeBis" [matDatepicker]="endeBisPicker">
        <mat-datepicker-toggle matSuffix [for]="endeBisPicker"></mat-datepicker-toggle>
        <mat-datepicker #endeBisPicker></mat-datepicker>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" class="button">
        Suche
      </button>
    </form>
    <app-table-einsatz *ngIf="isSearch" [einsaetze]="einsaetzeSearchList"></app-table-einsatz>
  </mat-tab>

</mat-tab-group>
