table {
  width: 100%;
  text-align: left;
}

.mat-column-beginn {
  width: 6%;
}

.mat-column-ende {
  width: 6%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.einsatz-container {
  overflow: auto;
}

.deleteMessage {
  margin-left: 2%;
  margin-top: 1%;
}

