<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
</mat-form-field>

<div class="einsatz-container">
  <table mat-table [dataSource]="dataSource" class="tableEinsatz" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID</th>
      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
    </ng-container>

    <!-- Mitarbeiter Column -->
    <ng-container matColumnDef="mitarbeiter">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Mitarbeiter</th>
      <td mat-cell *matCellDef="let row"> {{row.mitarbeiter.name}}, {{row.mitarbeiter.vorname}} </td>
    </ng-container>

    <!-- Mitarbeiter Vertrieb Column -->
    <ng-container matColumnDef="mitarbeiterVertrieb">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Vertrieb</th>
      <td mat-cell *matCellDef="let row"> {{row.mitarbeiterVertrieb.name}}, {{row.mitarbeiterVertrieb.vorname}} </td>
    </ng-container>

    <!-- Einsatz Status Column -->
    <ng-container matColumnDef="einsatzStatus">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Einsatz Status</th>
      <td mat-cell *matCellDef="let row">{{getEinsatzStatus(row.einsatzStatus)}}</td>
    </ng-container>

    <!-- Beginn Column -->
    <ng-container matColumnDef="beginn">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Beginn</th>
      <td mat-cell *matCellDef="let row"> {{row.beginn | date:'d.M.yyyy'}} </td>
    </ng-container>

    <!-- Ende Column -->
    <ng-container matColumnDef="ende">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Ende</th>
      <td mat-cell *matCellDef="let row"> {{row.ende | date:'d.M.yyyy'}} </td>
    </ng-container>

    <!-- Wahrscheinlichkeit Column -->
    <ng-container matColumnDef="wahrscheinlichkeit">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Wahrscheinlichkeit</th>
      <td mat-cell *matCellDef="let row"> {{row.wahrscheinlichkeit}} </td>
    </ng-container>

    <!-- ZusatzkostenReise Column -->
    <ng-container matColumnDef="zusatzkostenReise">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Zusatzkosten Reise</th>
      <td mat-cell *matCellDef="let row"> {{row.zusatzkostenReise}} </td>
    </ng-container>

    <!-- Stundensatz VK Column -->
    <ng-container matColumnDef="stundensatzVK">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Stundensatz VK</th>
      <td mat-cell *matCellDef="let row"> {{row.stundensatzVK}} </td>
    </ng-container>

    <!-- Projektnummer Nettime Column -->
    <ng-container matColumnDef="projektnummerNettime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Projektnummer Nettime</th>
      <td mat-cell *matCellDef="let row"> {{row.projektnummerNettime}} </td>
    </ng-container>

    <!-- Beauftragungsnummer Column -->
    <ng-container matColumnDef="beauftragungsnummer">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Beauftragungsnummer</th>
      <td mat-cell *matCellDef="let row"> {{row.beauftragungsnummer}} </td>
    </ng-container>

    <!-- Deckungsbeitrag Column -->
    <ng-container matColumnDef="deckungsbeitrag">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Deckungsbeitrag</th>
      <td mat-cell *matCellDef="let row"> {{row.deckungsbeitrag}} </td>
    </ng-container>

    <!-- Marge Column -->
    <ng-container matColumnDef="marge">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Marge</th>
      <td mat-cell *matCellDef="let row"> {{row.marge | number:'1.2-2'}} </td>
    </ng-container>

    <!-- Delete/Edit Einsatz -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let row">
        <button (click)="openDeleteEinsatzDialog(row.id, row.mitarbeiter.name, row.mitarbeiter.vorname,
        getEinsatzStatus(row.einsatzStatus))" mat-stroked-button color="warn">Löschen
        </button>
        <button (click)="updateEinsatz(row)" mat-stroked-button color="warn">Editieren</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td *ngIf="input.value" class="mat-cell" colspan="4">Keine Daten passend zu Filter: "{{input.value}}" gefunden</td>
      <td *ngIf="!input.value" class="mat-cell" colspan="4">Keine Daten gefunden</td>
    </tr>
  </table>

  <div *ngIf="showSuccessMsg" class="deleteMessage">
    <mat-success>
      Datensatz erfolgreich gelöscht.
    </mat-success>
  </div>

  <div *ngIf="showErrorMsg" class="deleteMessage">
    <mat-error>
      Datensatz konnte nicht gelöscht werden.
    </mat-error>
  </div>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
