.mainCard {
  width: 75%;
  text-align: center;
}

.login {
  width: 75%;
}

.listMitarbeiter {
  width: 75%;
}

.addMitarbeiter {
  width: 75%;
}

.searchMitarbeiter {
  width: 75%;
}

.updateMitarbeiter {
  width: 75%;
}

.listMitarbeiterVertrieb {
  width: 75%;
}

.addMitarbeiterVertrieb {
  width: 75%;
}

.updateMitarbeiterVertrieb {
  width: 75%;
}

.listEinsatz {
  width: 75%;
}

.addEinsatz {
  width: 75%;
}

.searchEinsatz {
  width: 75%;
}

.updateEinsatz {
  width: 75%;
}

.center {
  display: flex;
  justify-content: center;
}
