.mainCard {
  max-width: 1200px;
  text-align:center;
}

.listMitarbeiter {
  max-width: 1200px;
}

.addMitarbeiter {
  max-width: 1200px;
}

.searchMitarbeiter {
  max-width: 1200px;
}

.updateMitarbeiter {
  max-width: 1200px;
}


