<button (click)="listAllMitarbeiter()">Zeige Mitarbeiter</button>
<button (click)="addMitarbeiter()">Füge Mitarbeiter hinzu</button>
<button (click)="searchMitarbeiter()">Suche nach Mitarbeiter</button>
<div *ngIf="zeigeMitarbeiter === true" class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Vorname</th>
        <th scope="col">Status</th>
        <th scope="col">Stundensatz</th>
        <th scope="col">Unit</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let mitarbeiter of mitarbeiterList">
        <td>{{ mitarbeiter.id }}</td>
        <td>{{ mitarbeiter.name }}</td>
        <td>{{ mitarbeiter.vorname }}</td>
        <td>{{ mitarbeiter.mitarbeiterStatus }}</td>
        <td>{{ mitarbeiter.stundensatzEK }}</td>
        <td>{{ mitarbeiter.mitarbeiterUnit }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="mitarbeiterHinzufuegen === true">
  <app-mitarbeiter-form></app-mitarbeiter-form>
</div>

<div *ngIf="sucheMitarbeiter === true">
  <app-mitarbeiter-search></app-mitarbeiter-search>
</div>
