<div class="card my-5">
  <div class="card-body">
    <form #mitarbeiterForm="ngForm" (ngSubmit)="(getLastEndDateForMitarbeiter())">
      <div class="form-group">
        <label for="idLastEndDate">Wann endet der Einsatz des Mitarbeiters</label>
        <input type="text" [(ngModel)]="idLastEndDate"
               class="form-control"
               id="idLastEndDate"
               name="id"
               placeholder="Gib eine ID an"
               required #name="ngModel">
      </div>
      <button type="submit" [disabled]="!mitarbeiterForm.form.valid"
              class="btn btn-info">Submit
      </button>
     <p>{{date}}</p>
    </form>
  </div>
</div>

<div class="card my-5">
  <div class="card-body">
    <form #mitarbeiterForm="ngForm" (ngSubmit)="(getChanceForMitarbeiter())">
      <div class="form-group">
        <label for="idChance">Wie hoch ist die Chance auf Verlängerung</label>
        <input type="text" [(ngModel)]="idChance"
               class="form-control"
               id="idChance"
               name="id"
               placeholder="Gib eine ID an"
               required #name="ngModel">
      </div>
      <button type="submit" [disabled]="!mitarbeiterForm.form.valid"
              class="btn btn-info">Submit
      </button>
      <p>{{chance}}</p>
    </form>
  </div>
</div>



