<form class="lengthForm" [formGroup]="lastEndDateFormGroup" (ngSubmit)="getLastEndDateOnSubmit()">
  <mat-form-field appearance="fill" class="half-width">
    <input type="text"
           placeholder="Wie lange ist Mitarbeiter noch im Einsatz"
           aria-label="Number"
           matInput
           [formControl]="lastEndDateMitarbeiter"
           [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let mitarbeiter of filteredLastEndDateMitarbeiter | async"
                  [value]="mitarbeiter">{{mitarbeiter.name}}</mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field *ngIf="lastEndDate.value" class="qaurter-width">
    <mat-label>{{labelMitarbeiterEinsatz}}</mat-label>
    <input matInput type="text" formControlName="lastEndDate">
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!lastEndDateFormGroup.valid">
    Suche
  </button>
</form>

<form class="chanceForm" [formGroup]="chanceFormGroup" (ngSubmit)="getChanceOnSubmit()">
  <mat-form-field appearance="fill" class="half-width">
    <input type="text"
           placeholder="Wie hoch ist die Chance auf Verlängerung"
           aria-label="Number"
           matInput
           [formControl]="chanceMitarbeiter"
           [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let mitarbeiter of filteredLastEndDateMitarbeiter | async"
                  [value]="mitarbeiter">{{mitarbeiter.name}}</mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field *ngIf="chance.value" class="qaurter-width">
    <mat-label>{{labelChanceMitarbeiter}}</mat-label>
    <input matInput type="number" formControlName="chance">
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!chanceFormGroup.valid">Suche
  </button>
</form>

<form class="mitarbeiterEinsatzForm" [formGroup]="mitarbeiterEinsatzFormGroup"
      (ngSubmit)="getMitarbeiterEinsatzOnSubmit()">
  <button mat-raised-button color="primary" type="submit" class="button, half-width">Wieviele Mitarbeiter sind im
    Einsatz
  </button>
  <mat-form-field *ngIf="mitarbeiterEinsatz.value" class="qaurter-width">
    <mat-label>Menge der Mitarbeiter die aktuell im Einsatz sind</mat-label>
    <input matInput formControlName="mitarbeiterEinsatz">
  </mat-form-field>
</form>

<form class="subunternehmerEinsatzForm" [formGroup]="subunternehmerEinsatzFormGroup"
      (ngSubmit)="getSubunternehmerEinsatzOnSubmit()">
  <button mat-raised-button color="primary" type="submit" class="button, half-width">Wieviele Subunternehmer sind im
    Einsatz
  </button>
  <mat-form-field *ngIf="subunternehmerEinsatz.value" class="qaurter-width">
    <mat-label>Menge der Subunternehmer im Einsatz</mat-label>
    <input matInput formControlName="subunternehmerEinsatz">
  </mat-form-field>
</form>

<form class="deckungsbeitragForm" [formGroup]="deckungsbeitragFormGroup" (ngSubmit)="getDeckungsbeitragOnSubmit()">
  <button mat-raised-button color="primary" type="submit" class="button, half-width">Welchen Umsatz bzw Deckungsbeitrag
    haben wir aktuell
  </button>
  <mat-form-field *ngIf="deckungsbeitrag.value" class="qaurter-width">
    <mat-label>Aktueller Deckungsbeitrag</mat-label>
    <input matInput formControlName="deckungsbeitrag">
  </mat-form-field>
</form>

<!--
<form class="deckungsbeitragJahrForm" [formGroup]="deckungsbeitragJahrFormGroup" (ngSubmit)="getDeckungsbeitragJahrOnSubmit()">
  <button mat-raised-button color="primary" type="submit" class="button, half-width">Bar Chart Deckungsbeitrag
  </button>
  <mat-card-content *ngIf="deckungsbeitragJahr.values">
    <app-bar-chart></app-bar-chart>
  </mat-card-content>
</form>
-->

<div style="margin: 1%">
  <mat-divider></mat-divider>
</div>

<form class="mitarbeiterBankForm" [formGroup]="mitarbeiterBankFormGroup" (ngSubmit)="getMitarbeiterBankOnSubmit()">
  <button mat-raised-button color="primary" type="submit" class="button, half-width">
    Liste aller Mitarbeiter ohne gegenwärtigen und zukünftigen Einsatz
  </button>
  <app-table-mitarbeiter (deleteMitarbeiterEvent)="initMitarbeiterInternBank()"
                         #tableMitarbeiterBank *ngIf="isMitarbeiterBank"
                         [isMitarbeiterBank]="isMitarbeiterBank">
  </app-table-mitarbeiter>
</form>

<div style="margin: 1%">
  <mat-divider></mat-divider>
</div>

<form class="mitarbeiterInternBankForm" [formGroup]="mitarbeiterInternBankFormGroup"
      (ngSubmit)="getMitarbeiterInternBankOnSubmit()">
  <button mat-raised-button color="primary" type="submit" class="button, half-width">
    Liste interner Mitarbeiter ohne gegenwärtigen und zukünftigen Einsatz
  </button>
  <app-table-mitarbeiter (deleteMitarbeiterEvent)="initMitarbeiterBank()"
                         #tableMitarbeiterInternBank *ngIf="isMitarbeiterInternBank"
                         [isMitarbeiterInternBank]="isMitarbeiterInternBank">

  </app-table-mitarbeiter>
</form>
