.half-width {
  width: 48%;
  margin: 1%;
}

.qaurter-width {
  width: 24%;
  margin: 1%;
}
.nav-button-left {
  width: 4%;
  margin: 1% 1% 1% 19%;
}

.nav-button-right {
  width: 4%;
  margin: 1%;
}

