<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
</mat-form-field>

<div class="mitarbeiter-container">
  <table mat-table [dataSource]="dataSource" class="tableMitarbeiter" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID</th>
      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name</th>
      <td mat-cell *matCellDef="let row"> {{row.name}} </td>
    </ng-container>

    <!-- Vorname Column -->
    <ng-container matColumnDef="vorname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Vorname</th>
      <td mat-cell *matCellDef="let row"> {{row.vorname}} </td>
    </ng-container>

    <!-- Mitarbeiter Status Column -->
    <ng-container matColumnDef="mitarbeiterStatus">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Mitarbeiter Status</th>
      <td mat-cell *matCellDef="let row"> {{getMitarbeiterStatus(row.mitarbeiterStatus)}} </td>
    </ng-container>

    <!-- Stundensatz EK Column -->
    <ng-container matColumnDef="stundensatzEK">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Stundensatz EK</th>
      <td mat-cell *matCellDef="let row"> {{row.stundensatzEK}} </td>
    </ng-container>

    <!-- Mitarbeiter Unit Status Column -->
    <ng-container matColumnDef="mitarbeiterUnit">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Mitarbeiter Unit</th>
      <td mat-cell *matCellDef="let row"> {{getMitarbeiterUnit(row.mitarbeiterUnit)}} </td>
    </ng-container>

    <!-- Delete/Edit Mitarbeiter -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let row">
        <button (click)="openDeleteEinsatzDialog(row.id, row.name, row.vorname)"
                mat-stroked-button color="warn">Löschen
        </button>
        <button (click)="updateMitarbeiter(row)" mat-stroked-button color="warn">Editieren</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td *ngIf="input.value" class="mat-cell" colspan="4">Keine Daten passend zu Filter: "{{input.value}}" gefunden</td>
      <td *ngIf="!input.value" class="mat-cell" colspan="4">Keine Daten gefunden</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
